.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color:white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Navigation {
  padding: 10px;
  width: 25%;
  background-color: #f0f0f0;         
}

.Nav__item-wrapper{
  listStyleType: none; 
  padding: 0; 
}

.textarea {
 background-color: white;
 font-size: 1em;
 height: 50%;
  width:50%;
 font-weight: bold;
 font-family: Arial, Helvetica, sans-serif;
 border: 1px solid black;
 margin-bottom: 15px;
}

.textfieldDimensions{
  width:50%;
  height: 20px;
}

.padding15px{
  padding-bottom: 15px;
}

.leftColumn,.rightColumn{
  float:left;
}

.leftColumn{
  width: 80%;
}


.rightColumn{
  width: 20%;
}

.centerAlign{
  display: block; 
  margin: 10px;
  padding: 5px;
  width:50%;
}

.buttonColor{
  background-color: #f0f0f0;
  text-color :#111;
}

.categoriesDecorator {
    background-color: white;
    color: #111;
    padding: 16px;
    margin-bottom: 15px;
    font-size: 16px;
    border: none;
    width: 20%;
    height: 30px;
    border: 1px solid black;
    cursor: pointer;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
